<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants Pathology Image Classification Project</title>
    <link rel="stylesheet" type=""text/css" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
    <div class="title">
	    <center>
            <h1 id="title-name">Plants Pathology Image Classification Project</h1>
            <h3 id="subtitle-name">Identifying the category of Foliar diseases in apple trees</h3>
	    </center>
	</div>
    <br>
    <br>
    <br>
    <div class="container">
        <center>
            <form action="/predict" method="post" enctype="multipart/form-data">
                <div class="file">
                    <label class="file-label">Upload Your Image :</label>
                    <input type="file" class="file-input" name="image">
                    <input type="submit" class="file-submit-button"></button>
                </div>
            </form>
        </center>
        <br>
        <br>
        <center>
            {% if prediction %}
            <img src="{{img_path}}" height="200px">
            <br>
            <br>
            <label class="predict-label">Image Prediction : <label class="predict">{{prediction}}</label> </label>
            {% endif %}
        </center>
    </div>
    
</body>
</html>
